.about {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 60px;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    position: relative;
    border-radius: 200px;
}

.title{  
    width: 100%;
    text-align: center;
    font-size: 72px;
    margin-bottom: 32px;
    color: var(--font-color);
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 4px solid var(--main-color);
}

.about__content{
    display: flex;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 6% 0 10%;
    color: var(--font-color);
    background-color: var(--about-secondary-color);
    border-top-left-radius: 100px;
    border: var(--main-color) 2px solid;
    border-right: none;
}

.about__para{
    font-size: 28px;
    text-align: justify;
}

.technologies{
    /* background: linear-gradient(30deg, var(--main-color), #ffacac); */
    background-color: #ff8a8a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0 10% 0 6%;
    border-bottom-right-radius: 100px;
    border: var(--main-color) 2px solid;
    border-left: none;
}

.technologiesWrapper{
    background-color: var(--main);
}

.sub__title{
    color: #242424;
    font-size: 72px;
    text-align: center;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 4px solid #feeeee;
}

.languages {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1150px) {
    .about {
        padding: 0 100px;
    }
    .sub__title {
        color: #242424;
    }
    .wrapper {
        flex-direction: column;
    }

    .about__content {
        /* border-bottom-right-radius: 100px; */
        border: var(--main-color) 2px solid;
        border-bottom: none;
    }
    .technologies {
        border: var(--main-color) 2px solid;
        border-top: none;
    }
    .about__content,
    .technologies {
        width: 100%;
        padding: 50px 60px;
    }
    .title,
    .sub__title{
        font-size: 60px;
    }
    .about__para{
        font-size: 24px;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .about {
        padding: 0 50px;
    }
}

@media (max-width: 650px) {
    .title,
    .sub__title{
        font-size: 40px;
    }
    .about__para{
        font-size: 20px;
        text-align: center;
    }
    .about__content,
    .technologies {
        padding: 20px;
    }
}

