.about {
    min-height: 100vh;
    width: 100%;
    background-color: var(--about-color);
    background-color: #2424241f;
    display: flex;
    flex-direction: row;
}

.wrapper {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.title{
    font-size: 72px;
}

.about__content{
    display: flex;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.about__para{
    font-size: 28px;
}

.technologies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.sub__title{
    font-size: 72px;
    padding-top: 60px;
    text-align: center;
}

.languages {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1150px) {
    .wrapper {
        flex-direction: column;
    }
    .about__content,
    .technologies {
        width: 100%;
    }
    .title,
    .sub__title{
        font-size: 60px;
    }
    .about__para{
        font-size: 24px;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .title,
    .sub__title{
        font-size: 40px;
    }
    .about__para{
        font-size: 20px;
        text-align: center;
    }
}

