* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

:root {
  --main-color: #DE5656;
  --secondary-color: #feeeee;
  --font-color: black;
  --logo-invert: 0%;
  --scroll-icon-color: #DE5656;
  --mail-text-color:#feeeee;
  --mail-color: #DE5656;
  --about-color: white;
  --logo-secondary-color: #2424241f;
  --unit:2px;
}

body {
  background-color: var(--secondary-color);
  height: 100vh;
  transition: all 500ms ease;
  overflow-x: hidden;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body::after {
  content: "";
  position: fixed;
  background: linear-gradient(217deg, #de565652, rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, #feeeee, rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, white, rgba(0,0,255,0) 70.71%);
  border-radius: 100%;
  filter: blur(4px);
  width: 400px;
  height: 400px;
  left: 0%;
  bottom:30%;
  animation: moving 60s linear alternate-reverse infinite;
  z-index: -10;
}

body::before {
  content: "";
  position: fixed;
  background: linear-gradient(217deg, #de565652, rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, #feeeee, rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, white, rgba(0,0,255,0) 70.71%);
  border-radius: 100%;
  filter: blur(4px);
  width: 400px;
  height: 400px;
  left: 60%;
  bottom: 60%;
  animation: moving2 60s linear alternate-reverse infinite;
  z-index: -10;
}

@keyframes moving {
  0% {left: 0%; bottom: 30%;}
  25% {left: 35% ; bottom: 90%;}
  50% {left: 80%; bottom: 40%;}
  75% {left: 35%; bottom: 0%;}
  100% {left: 0%; bottom: 30%;}
}

@keyframes moving2 {
  0% {left: 80%; bottom: 70%;}
  25% {left: 50% ; bottom: 0%;}
  50% {left: 0% ; bottom: 0%;}
  75% {left: 0% ; bottom: 40%;}
  100% {left: 70% ; bottom: 80%;}
}

.red {
  color: var(--main-color);
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover{
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.sticky {
  position: fixed;
  top: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  justify-content: center;
  flex: 0;
  display: flex;
  flex-direction: column;
  gap: var(--unit);
  transition: all 1000ms ease;
  align-items: center;
}

.row {
  height: var(--unit);
  display: flex;
  flex-direction: row;
  gap: var(--unit);
  transition: all 1000ms ease;
}

.row-1 {
  padding-left: calc(6 * var(--unit));
  transform: translateX(calc(-1 * var(--translation-1, 10%)));
}
.row-2 {
  transform: translateX(var(--translation-2, 20%));
  padding-right: calc(var(--unit));
}
.row-3 {
  transform: translateX(calc(-1 * var(--translation-2, 20%)));
}
.row-4 {
  padding-left: calc(var(--unit));
  transform: translateX(var(--translation-3, 30%));

}
.row-5 {
  transform: translateX(calc(-1 * var(--translation-3, 30%)));
}
.row-6 {
  transform: translateX(var(--translation-3, 30%));
}
.row-7 {
  transform: translateX(calc(-1 * var(--translation-3, 30%)));
}
.row-8 {
  transform: translateX(var(--translation-2, 20%));
}
.row-9 {
  transform: translateX(calc(-1 * var(--translation-2, 20%)));
}
.row-10 {
  transform: translateX(var(--translation-1, 10%));
}
.row-11 {
  padding-left: calc(2 * var(--unit));
  transform: translateX(calc(-1 * var(--translation-1, 10%)))
}
.row-12 {
  padding-right: calc(5 * var(--unit));
  transform: translateX(var(--translation-1, 10%))
  }
.row-13 {
  transform: translateX(calc(-1 * var(--translation-1, 10%)))
}

.cell {
  height: 100%;
  width: calc(var(--size, 2px) * var(--unit));
  background-color: var(--logo-secondary-color);
  border-radius: 1000px;
}

.cell.size-2{--size:2;}

.cell.size-3 {--size: 3;}

.cell.size-4 {--size: 4;}

.cell.size-5 {--size: 5;}

.cell.size-6 {--size: 6;}

.cell.size-7 {--size: 7;}

.cell.size-8 {--size: 8;}

.cell.size-9 {--size: 9;}

.cell.size-9 {--size: 10;}

.cell.size-10 {--size: 10;}

.cell.size-11 {--size: 11;}

.cell.size-12 {--size: 12;}

.cell.size-13 {--size: 13;}

.cell.size-14 {--size: 14;}

.cell.size-15 {--size: 15;}

.cell.size-16 {--size: 16;}

.cell.size-17 {--size: 17;}

.cell.size-18 {--size: 18;}

.cell.size-19 {--size: 19;}

.cell.size-20 {--size: 20;}

.redB {
  background-color: var(--main-color);
}