* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

:root {
  --main-color: #DE5656;
  --secondary-color: #242424;
  --background: linear-gradient(to right top, #242424, #443449, #763f60, #ae4765, #de5656);
  --font-color: white;
  --logo-invert: 0%;
  --handle-size: 3rem;
  --img-gap: .25rem;
  --mail-text-color:#DE5656;
  --mail-color: #feeeee;
  --about-color: #242424;
  --body-overflow: auto;
  --modal-opacity: 0;
  --inverse-modal-opacity: 1;
  --logo-secondary-color: #feeeee;
}

body {
  background: fixed;
  background-image: var(--background);
  height: 100vh;
  transition: all 500ms ease;
  overflow-x: hidden;
  overflow-y: var(--body-overflow);
}

.display-none {
  opacity: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body::after {
  content: "";
  position: fixed;
  background: linear-gradient(217deg, #de565652, rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, #feeeee, rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, white, rgba(0,0,255,0) 70.71%);
  border-radius: 100%;
  filter: blur(4px);
  width: 400px;
  height: 400px;
  left: 0%;
  bottom:30%;
  animation: moving 60s linear alternate-reverse infinite;
  z-index: -10;
}

body::before {
  content: "";
  position: fixed;
  background: linear-gradient(217deg, #de565652, rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, #feeeee, rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, white, rgba(0,0,255,0) 70.71%);
  border-radius: 100%;
  filter: blur(4px);
  width: 400px;
  height: 400px;
  left: 60%;
  bottom: 60%;
  animation: moving2 60s linear alternate-reverse infinite;
  z-index: -10;
}

@keyframes moving {
  0% {left: 0%; bottom: 30%;}
  25% {left: 35% ; bottom: 90%;}
  50% {left: 80%; bottom: 40%;}
  75% {left: 35%; bottom: 0%;}
  100% {left: 0%; bottom: 30%;}
}

@keyframes moving2 {
  0% {left: 80%; bottom: 70%;}
  25% {left: 50% ; bottom: 0%;}
  50% {left: 0% ; bottom: 0%;}
  75% {left: 0% ; bottom: 40%;}
  100% {left: 70% ; bottom: 80%;}
}

.red {
  color: var(--main-color);
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover{
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.sticky {
  position: fixed;
  top: 0;
}

html {
  scroll-behavior: smooth;
}

.opacity{
  opacity: 0;
}

.display-none{
  display: none !important;
}

.display-noneImportant{
  display: none !important;
}

.modal__logoAnimation .modal_row:nth-child(odd) {
  --modifier: -1;
  animation: slideModal 1s calc(var(--delay) * 50ms + 500ms) 1 forwards;
  
}

.modal__logoAnimation .modal_row:nth-child(even) {
  --modifier: 1;
  animation: slideModal 1s calc(var(--delay) * 50ms + 500ms) 1 forwards;
}

@keyframes slideModal {
  100% {
      translate: calc(var(--modifier) * 1000px);
      opacity: 0;
      display: none;
      visibility: hidden;
  }
}

.container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  transition: all 1000ms ease;
  align-items: center;
  margin: 0 auto;
}

.gap2px {
  gap: 2px;
}

.gap15px {
  gap: 15px;
}

.height2px {
  height: 2px;
}

.height15px {
  height: 15px;
}

.width2px {
  width: calc(var(--size, 2px) * 2px);
}

.width15px {
  width: calc(var(--size, 2px) * 15px);
}

.row:nth-child(1) { --delay: 1 ;}
.row:nth-child(2) { --delay: 2 ;}
.row:nth-child(3) { --delay: 3 ;}
.row:nth-child(4) { --delay: 4 ;}
.row:nth-child(5) { --delay: 5 ;}
.row:nth-child(6) { --delay: 6 ;}
.row:nth-child(7) { --delay: 7 ;}
.row:nth-child(8) { --delay: 8 ;}
.row:nth-child(9) { --delay: 9 ;}
.row:nth-child(10) { --delay: 10 ;}
.row:nth-child(11) { --delay: 11 ;}
.row:nth-child(12) { --delay: 12 ;}
.row:nth-child(13) { --delay: 13 ;}

.row {
  /* height: var(--unit); */
  display: flex;
  flex-direction: row;
  /* gap: var(--unit); */
  transition: all 1000ms ease;
}


@keyframes twoPixelloadRow {
  100% {
    translate: 0;
  }
}

@keyframes fifteenPixelloadRow {
  100% {
    translate: calc(2000px * var(--modifier));
  }
}

.two-pixel .row:nth-child(odd) {
  translate: calc(-50px);
  --modifier: -1;
  animation: twoPixelloadRow 1s calc(var(--delay) * 50ms + 500ms) forwards;
}

.two-pixel .row:nth-child(even) {
  translate: calc(50px);
  --modifier: 1;
  animation: twoPixelloadRow 1s calc(var(--delay) * 50ms + 500ms) forwards;
}

.fifteen-pixel .row:nth-child(odd) {
  --modifier: -1;
  animation: fifteenPixelloadRow 2s calc(var(--delay) * 50ms + 500ms) forwards;
}

.fifteen-pixel .row:nth-child(even) {
  --modifier: 1;
  animation: fifteenPixelloadRow 2s calc(var(--delay) * 50ms + 500ms) forwards;
}

.cell {
  height: 100%;
  /* width: calc(var(--size, 2px) * var(--unit)); */
  background-color: var(--logo-secondary-color);
  border-radius: 1000px;
}

.cell.size-2{--size:2;}

.cell.size-3 {--size: 3;}

.cell.size-4 {--size: 4;}

.cell.size-5 {--size: 5;}

.cell.size-6 {--size: 6;}

.cell.size-7 {--size: 7;}

.cell.size-8 {--size: 8;}

.cell.size-9 {--size: 9;}

.cell.size-9 {--size: 10;}

.cell.size-10 {--size: 10;}

.cell.size-11 {--size: 11;}

.cell.size-12 {--size: 12;}

.cell.size-13 {--size: 13;}

.cell.size-14 {--size: 14;}

.cell.size-15 {--size: 15;}

.cell.size-16 {--size: 16;}

.cell.size-17 {--size: 17;}

.cell.size-18 {--size: 18;}

.cell.size-19 {--size: 19;}

.cell.size-20 {--size: 20;}

.redB {
  background-color: var(--main-color);
}


.cursor {
  cursor: pointer;
}

.slider__container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}



.slider__row:last-child {
  padding-bottom: 10px;
}

.slider {
  --items-per-screen: 2;
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  margin: 0 var(--img-gap);
  transform: translate(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
  width: 100%;
}

.slider > .slider__imgWrapper {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16 / 9;
  padding: var(--img-gap);
  border-radius: 1rem;
}

.slider__imgWrapper {
  transition: margin 250ms ease-in-out, transform 250ms ease-in-out;
  position: relative;
}

.slider__imgWrapper:hover {
  transform: scale(1.1);
  margin: 0 1rem;
  overflow: visible;
}

.slider__img {
  border-radius: 1rem;
  width: 100%;
}

.handle {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 10;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  cursor: pointer;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #de5656;
  line-height: 0;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* .handle:hover,
.handle:focus {
  background-color: rgba(255,255,255,.5);
} */

.text{
  transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus .text{
  transform: scale(1.1);
}

.slider__header {
  display: flex;
  justify-content: space-between;
  padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
  align-items: center;
}

.slider__title {
  font-size: 2rem;
  margin: 0;
}

.progress__bar{
  display: flex;
  gap: .25rem;
}

.progress__item {
  flex: 0 0 1.5rem;
  min-width: 2rem;
  height: .5rem;
  background-color: #de56563a;
}

.progress__item.active {
  background-color: #de5656;
}

.slider__skeleton--img{
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16 / 9;
  padding: var(--img-gap);
  margin: 0 var(--img-gap);
  border-radius: 1rem;
  overflow: hidden;
}