
.contact {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
}

.formTitle{
    color: var(--font-color);
    font-size: 36px;
}

.contactLeft {
    display: flex;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    transform: translateX(-100%);
    opacity: 0;
    animation: SlideIn 0.5s forwards linear;
    overflow: hidden;
}

.contactRight {
    width: 50%;
    height: 100%;
    border-top: solid var(--main-color);
    border-right: solid var(--main-color);
    border-bottom: solid var(--main-color);
    background-color: var(--secondary-color);
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    transform: translateX(100%);
    opacity: 0;
    animation: SlideIn 0.5s forwards linear;
    overflow: hidden;
}

.icon{
    color: var(--font-color);
    position: absolute;
    font-size: 32px;
    right: 2rem;
    top: 2rem;
    z-index: 100;
}

@keyframes SlideIn {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.contactForm {
    padding: 20% 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
    animation: FadeIn 1s 1.5s linear forwards;
}

.name, .email, .message {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nameInput, .emailInput, .messageInput {
    color: var(--font-color);
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    width: 60%;
    outline: none;
    background-color: var(--form-input-color);
}

.nameInput, .emailInput{
    height: 40px;
}

.messageInput {
    height: 160px;
    resize: none;
}

.formButton {
    color: var(--font-color);
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 30%;
    height: 8%;
}

.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0;
    animation: FadeIn 1s 1.5s linear forwards;
}

@keyframes FadeIn {
    100%{
        opacity: 1;
    }
}

.envelopeWrapper{
    height: 200px;
    width: 300px;
    background-color: #ffbb00;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.letter {
    position: absolute;
    top: 0%;
    width: 80%;
    height: 80%;
    background-color: white;
    padding-top: 16px;
    border-radius: 10px;
    z-index: 2;
    transition: 0.5s;
}

.letter p {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-top: 16px;
    color: black;
    overflow: hidden;
    border-right: .15em solid red;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    width: fit-content;
}

.envelope{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0;
    border-top: 100px solid transparent;
    border-right: 150px solid #ffcb3b;
    border-bottom: 100px solid #fdd25b;
    border-left: 150px solid #facb4c;
    z-index: 3;
    
}

.lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0%;
    border-right: 150px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
}

.lid.one {
    border-top: 100px solid #ffc21b;
    transform: rotateX(0deg);
    z-index: 3;
    transition-delay: 0.75s;
}

.lid.two {
    border-top: 100px solid #ffbb00;
    transform: rotateX(90deg);
    z-index: 1;
    transition-delay: 0.5s;
}


.contact:hover .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
}

.contact:hover .lid.two {
    transform: rotateX(180deg);
    transition-delay: 0.25s;
}

.contact:hover .letter {
    transform: translateY(-50px);
    transition-delay: 0.5s;
}

.contact:hover .letter P{
    animation: 
        typing 2.5s steps(15, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to {border-color: transparent;}
    50% { border-color: black;}
}
.shape {
    position: fixed;
    opacity: 0;
    animation: FadeIn 1s  1s  forwards linear;
}

.shape0 {
    top: 10%;
    left: 10%;
}

.shape1 {
    top: 10%;
    left: 50%;
}

.shape2 {
    top: 10%;
    left: 80%;
}

.shape3 {
    top: 30%;
    left: 10%;
}

.shape4 {
    top: 30%;
    left: 50%;
}

.shape5 {
    top: 30%;
    left: 80%;
}

.shape6 {
    top: 60%;
    left: 10%;
}

.shape7 {
    top: 60%;
    left: 50%;
}

.shape8 {
    top: 60%;
    left: 80%;
}

.shape9 {
    top: 90%;
    left: 10%;
}

.shape10 {
    top: 90%;
    left: 50%;
}

.shape11 {
    top: 90%;
    left: 80%;
}

.spinnerWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    animation: spinner 1s infinite;
}

.success{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 200px 0;
}

@keyframes spinner {
    100% {
        rotate: 360deg;
    }
}

@media (max-width: 800px) {
    .contact {
        flex-direction: column;
    }

    .contactLeft {
        display: none;
    }

    .contactRight {
        border-radius: 50px;
        border: 2px solid var(--main-color);
    }
    .contactLeft, .contactRight {
        width: 100%;
    }

    input {
        padding: 32px 0;
    }
}


@media (max-width: 600px) {
    .formTitle{
        font-size: 26px;
    }
}