.container {
    justify-content: center;
    flex: 0;
    display: flex;
    flex-direction: column;
    gap: var(--unit);
    transition: all 1000ms ease;
    align-items: center;
}

.row {
    height: var(--unit);
    display: flex;
    flex-direction: row;
    gap: var(--unit);
    transition: all 1000ms ease;
}

.row1 {
    padding-left: calc(6 * var(--unit));
    transform: translateX(calc(-1 * var(--translation-1, 10%)));
}
.row2 {
    transform: translateX(var(--translation-2, 20%));
    padding-right: calc(var(--unit));
}
.row3 {
    transform: translateX(calc(-1 * var(--translation-2, 20%)));
}
.row4 {
    padding-left: calc(var(--unit));
    transform: translateX(var(--translation-3, 30%));

}
.row5 {
    transform: translateX(calc(-1 * var(--translation-3, 30%)));
}
.row6 {
    transform: translateX(var(--translation-3, 30%));
}
.row7 {
    transform: translateX(calc(-1 * var(--translation-3, 30%)));
}
.row8 {
    transform: translateX(var(--translation-2, 20%));
}
.row9 {
    transform: translateX(calc(-1 * var(--translation-2, 20%)));
}
.row10 {
    transform: translateX(var(--translation-1, 10%));
}
.row11 {
    padding-left: calc(2 * var(--unit));
    transform: translateX(calc(-1 * var(--translation-1, 10%)))
}
.row12 {
    padding-right: calc(5 * var(--unit));
    transform: translateX(var(--translation-1, 10%))
    }
.row13 {
    transform: translateX(calc(-1 * var(--translation-1, 10%)))
}



.cell {
    height: 100%;
    width: calc(var(--size, 2px) * var(--unit));
    background-color: var(--gray);
    border-radius: 1000px;
}

.cell.size2{--size:2;}

.cell.size3 {--size: 3;}

.cell.size4 {--size: 4;}

.cell.size5 {--size: 5;}

.cell.size6 {--size: 6;}

.cell.size7 {--size: 7;}

.cell.size8 {--size: 8;}

.cell.size9 {--size: 9;}

.cell.size9 {--size: 10;}

.cell.size10 {--size: 10;}

.cell.size11 {--size: 11;}

.cell.size12 {--size: 12;}

.cell.size13 {--size: 13;}

.cell.size14 {--size: 14;}

.cell.size15 {--size: 15;}

.cell.size16 {--size: 16;}

.cell.size17 {--size: 17;}

.cell.size18 {--size: 18;}

.cell.size19 {--size: 19;}

.cell.size20 {--size: 20;}

.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}

.blue {
    background-color: var(--blue);
}
.pink {
    background-color: var(--pink);
}