.container {
    --unit:2.5px;
    --initial-translation: 200px;
    --final-position: 0px;
    justify-content: center;
    width: 110px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: var(--unit);
    transition: all 1000ms ease;
    align-items: center;
    overflow: hidden;
    background-color: rgba(218, 218, 218, 0.1);
    box-shadow: 0px 0px 100px 100px rgba(218, 218, 218, 0.1);
}

.row:hover:nth-child(even){
    animation-name: none;
}

.row:hover:nth-child(odd){
    animation-name: none;
}

.row {
    height: var(--unit);
    display: flex;
    flex-direction: row;
    gap: var(--unit);
    transition: all 1000ms ease;
}

.row:nth-child(1) { --delay: 1 ;}
.row:nth-child(2) { --delay: 2 ;}
.row:nth-child(3) { --delay: 3 ;}
.row:nth-child(4) { --delay: 4 ;}
.row:nth-child(5) { --delay: 5 ;}
.row:nth-child(6) { --delay: 6 ;}
.row:nth-child(7) { --delay: 7 ;}
.row:nth-child(8) { --delay: 8 ;}
.row:nth-child(9) { --delay: 9 ;}
.row:nth-child(10) { --delay: 10 ;}
.row:nth-child(11) { --delay: 11 ;}
.row:nth-child(12) { --delay: 12 ;}
.row:nth-child(13) { --delay: 13 ;}


.row:nth-child(odd) {
    translate: calc(1 * var(--initial-translation, 10px));
    --modifier: -1;
    animation: slide 1s calc(var(--delay) * 50ms) 1 forwards;
}

.row:nth-child(even) {
    translate: calc(-1 * var(--initial-translation, 10px));
    --modifier: 1;
    animation: slide 1s calc(var(--delay) * 50ms) 1 forwards;
}

@keyframes slide {
    100% {
        translate: var(--final-position);
    }
}  

@keyframes slideBack {  
    100% {
        translate: var(--initial-translation);
    }
}  

.cell {
    height: 100%;
    width: calc(var(--size, 2px) * var(--unit));
    border-radius: 1000px;
}

.cell.size2{--size:2;}

.cell.size3 {--size: 3;}

.cell.size4 {--size: 4;}

.cell.size5 {--size: 5;}

.cell.size6 {--size: 6;}

.cell.size7 {--size: 7;}

.cell.size8 {--size: 8;}

.cell.size9 {--size: 9;}

.cell.size9 {--size: 10;}

.cell.size10 {--size: 10;}

.cell.size11 {--size: 11;}

.cell.size12 {--size: 12;}

.cell.size13 {--size: 13;}

.cell.size14 {--size: 14;}

.cell.size15 {--size: 15;}

.cell.size16 {--size: 16;}

.cell.size17 {--size: 17;}

.cell.size18 {--size: 18;}

.cell.size19 {--size: 19;}

.cell.size20 {--size: 20;}

.red {
    background-color: var(--main-color);
}

@media (max-width: 600px) {
    
}