.slider__imgWrapper {
    display: flex;
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    aspect-ratio: 16 / 9;
    padding: var(--img-gap);
    border-radius: 1rem;
    transition: margin 250ms ease-in-out, transform 250ms ease-in-out;
    position: relative;
    overflow: hidden;
}

.slider__img {
    border-radius: 1rem;
    width: 100%;
    transition: opacity 300ms ease-in;
}

.backdrop{
    flex: 1;
    position: absolute;
    text-align: center;
    /* background-color: #feeeee4f; */
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.backdropContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.slider__imgWrapper:hover .slider__img {
    opacity: 0.8;
}

.slider__imgWrapper:hover .backdrop {
    opacity: 1;
}

.contentLink {
    color: black;
    font-size: 20px;
    margin-right: 16px;
}